<nav class="{% if page.title == "Anasayfa" %}nav-home{% else %}nav{% endif %}">
    <ul class="list">
        {% if page.title != "Anasayfa" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/">Anasayfa</a>
            </li>
        {% endif %}

        {% if site.blog == true %}
            {% if page.title != "Blog" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/blog">Blog</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.projects == true %}
            {% if page.title != "Projeler" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/projects">Projeler</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.about == true %}
            {% if page.title != "Hakkında" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/about">Hakkında</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.resume == true %}
            <li class="item">
                <a class="link" href="{% if site.resume-external %}{{ site.resume-url }}{% else %}{{ site.url }}/{{ site.resume-url }}{% endif %}">Özgeçmiş</a>
            </li>
        {% endif %}
    </ul>
</nav>
